nav
{
	background-color: #181C22;
	color: white;
	font-size: 16px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	z-index: 9999;
}

ul
{
	display: inline-block;
	padding-left: 0px;
	margin: 0px;
	list-style-type: none; 
}

#nav li
{
	display: inline;
	padding: 0.5em;
}

#nav a
{
	color: white;
	font-variant: small-caps;
	text-decoration: none;
}

#nav a:hover
{
	color: #D87E28;
	text-decoration: none;
}

.first
{
	margin-top: 3em;
}

.project-img
{
	width: 300px;
}

.project
{
	text-align: left;
	overflow: hidden;
	height: 450px;
}

.project p
{
	width: 300px;
}